@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0b0c14;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* .card {
  @apply w-72 relative cursor-pointer border-b-4 rounded-md bg-gradient-to-t from-white/20 h-44 text-center px-3 py-7 self-end to-red-600/40;
}

.card-active {
  @apply h-96;
}

.logo {
  @apply text-5xl mt-2 w-[5rem] mx-auto h-[5rem] rounded-full bg-red-200 text-red-600 flex items-center justify-center;
}

.para {
  @apply mt-3;
}

.card .skill-level {
  @apply border-2 border-gray-200 text-white min-w-[3rem] min-h-[3rem] grid place-items-center rounded-full max-w-[3rem] absolute -right-2.5 scale-0;
}

.card-active .skill-level {
  @apply scale-[1.3] delay-700 duration-300 bg-red-500;
}

.card-active .logo {
  @apply bg-red-500 text-red-200;
} */